p {
    background: #e2e29d;
    color: coral;
}

h1 {
    background: greenyellow;
    color: darkblue;
}
a {
    color: mediumaquamarine;
}

ul {
    background: salmon;
    color: rebeccapurple;
}

li {
    color: rebeccapurple;
}